<div class="container">

  <div class="row">
    <% if logged_in? %>
    <% else %>
    <%= link_to "ログインする", login_path, class: "col-lg-6" %>
    <%= link_to "ゲストとしてログインする", guest_sessions_new_path, class: "col-lg-6" %>
    <% end %>
  </div>
</div>
