<table class="table">
  <thead>
    <tr>
      <th scope="col">順位</th>
      <th scope="col">過ごしかた案</th>
    </tr>
  </thead>
  <tbody>
    <% object.each.with_index(1) do |task, i| %>
      <tr>
        <th scope="row"><%= i %></th>
        <td><%= task.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>
