<div class="container">
  <h1>気になる過ごしかた一覧</h1>

  <% @favorites.each do |favorite| %>
  <div class="table-responsive-lg">
    <table class="table">
      <tr>
        <td><%= favorite.content %></td>
      <tr>
    </table>
  </div>
  <% end %>
</div>