<% tasks.each do |task| %>
    <div class="task-list">
      <div class="task-content"><%= task.content %></div>
      <div class="task-prepare"><%= task.prepare %></div>
      <div class="task-easy"><%= task.easy_i18n %></div>
      <div class="task-belongs-to">by：<%= link_to "#{task.user.name}", '#'%>さん</div>
    </div>
  <% end %>