<div class="d-grid gap-2 mt-3 mb-3">
  <%= link_to "LOGIN / SIGN UP", login_path,  class:"btn btn-lg btn-primary" %>
  <%= link_to "LOGIN as GUEST", guest_sessions_new_path,  class:"btn btn-lg btn-primary" %>
</div>