<% if logged_in? %>
    <% else %>
    <div class="row">
      <%= link_to "ログイン", login_path, class: "col-lg-6" %>
    </div>
    <div class="row">
      <%= link_to "ゲストログイン", guest_sessions_new_path, class: "col-lg-6" %>
    </div>
    <% end %>
  </div>

